@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

/* main page */
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #4d4d4d;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 40px;
    color: #4d4d4d;
}

h4 {
    text-align: center;
    font-size: 1.2em;
    margin: 20px auto;
    max-width: 800px;
    color: #4d4d4d;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}

.kitty-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.kitty-photo:hover {
    transform: scale(1.05);
}

/* akuma's page */
.akuma-theme {
  background-color: #d6e7e5;
  color: #2f3e3a;
  font-family: 'Quicksand', sans-serif;
}

/* title */
.akuma-theme h1 {
  text-align: center;
  font-size: 2.2rem;
  color: #4b6762;
  margin-bottom: 20px;
  font-weight: 600;
}

/* back link */
.back-link {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: #4b6762;
  font-weight: 600;
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.back-link:hover {
  transform: scale(1.05);
}

.akuma-theme .kitty-profile-photo {
  border: 4px solid #aacfc9;
}

.kitty-profile-photo {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto 15px auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.kitty-bio-box {
  border-radius: 20px;
  padding: 15px 25px;
  width: 70%;
  max-width: 500px;
  margin: 0 auto 15px auto;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.kitty-details {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 10px;
  color: #2f3e3a;
}
