@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

/* main page */
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #4d4d4d;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 40px;
    color: #4d4d4d;
}

h4 {
    text-align: center;
    font-size: 1.2em;
    margin: 20px auto;
    max-width: 800px;
    color: #4d4d4d;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}

.kitty-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.kitty-photo:hover {
    transform: scale(1.05);
}

/* akuma's page */
.akuma-theme {
    background-color: rgb(184, 213, 240);
    color: lightblue;
}

.akuma-theme h1 {
    text-align: center;
    font-size: 2.2rem;
    color: 
}


